name: Build Yarn

on:
  workflow_call:
 
jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Node version
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install Yarn dependencies
        run: yarn install

      - name: Cache Yarn dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            **/node_modules
            .yarn/cache
            yarn.lock
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
