name: IntegrationTests

on:
  workflow_call:
    inputs:
      dotnet_sdk_version:
        required: true
        type: string
      REPOSITORY_NAME:
        required: true
        type: string

jobs:
  IntegrationTests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v2

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ inputs.dotnet_sdk_version }}

      - name: Setup Node version
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Clean
        run: dotnet clean && dotnet nuget locals all --clear

      - name: Execute dotnet restore
        run: dotnet restore

      - name: Execute dotnet build
        run: dotnet build --no-restore
        
      - name: Execute dotnet test (needs coverlet.collector nuget)
        run: dotnet test --no-build --filter FullyQualifiedName~Integration --collect:"XPlat Code Coverage"
          
      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: ${{inputs.REPOSITORY_NAME}}-test-results
          path: src/Tests/**/TestResults/**/coverage.cobertura.xml
          retention-days: 1

