name: Publish

on:
  workflow_call:
    inputs:
      dotnet_sdk_version:
        required: true
        type: string
      REPOSITORY_NAME:
        required: true
        type: string
      MORYX_PACKAGE_TARGET_DEV:
        required: true
        type: string
      MORYX_PACKAGE_TARGET_V3_DEV:
        required: true
        type: string
      MORYX_PACKAGE_TARGET_RELEASE:
        required: true
        type: string
      MORYX_PACKAGE_TARGET_V3_RELEASE:
        required: true
        type: string
    secrets:
      MYGET_TOKEN:
        required: true
      NUGET_TOKEN:
        required: true

jobs:
  Publish:
    if: >
      (github.event_name == 'push' && (
        github.ref_name == 'dev' ||
        github.ref_name == 'future' ||
        startsWith(github.ref, 'refs/tags/v') ||
        startsWith(github.ref_name, 'integration/')
      )) ||
      (github.event_name == 'pull_request' &&
        startsWith(github.head_ref, 'integration/')
      )
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          lfs: true

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ inputs.dotnet_sdk_version }}

      - name: Setup NuGet
        uses: NuGet/setup-nuget@v1

      - name: Download package artifacts
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.REPOSITORY_NAME }}-packages
          path: artifacts/packages/

      # Use if development branch 
      - name: Publish on MyGet (dev/future/integration branches)
        if: >
          github.ref_name == 'dev' ||
          github.ref_name == 'future' ||
          startsWith(github.head_ref || github.ref_name, 'integration/')
        run: >
          dotnet nuget push "artifacts/packages/"
          --api-key ${{ secrets.MYGET_TOKEN }}
          --source ${{ inputs.MORYX_PACKAGE_TARGET_DEV }}
          --skip-duplicate
          --symbol-api-key ${{ secrets.MYGET_TOKEN }}
          --symbol-source ${{ inputs.MORYX_PACKAGE_TARGET_V3_DEV }}

      # Use if tag
      - name: Publish on NuGet (version tags)
        if: startsWith(github.ref, 'refs/tags/v')
        run: >
          dotnet nuget push artifacts/packages/*.nupkg
          --api-key ${{ secrets.NUGET_TOKEN }}
          --source ${{ inputs.MORYX_PACKAGE_TARGET_RELEASE }}
          --skip-duplicate