name: ReportGenerator

on:
  workflow_call:
    inputs:
      REPOSITORY_NAME:
        required: true
        type: string

jobs:
  ReportGenerator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code 
        uses: actions/checkout@v6
        with:
          lfs: true

      - name: Download test results
        uses: actions/download-artifact@v4
        with:
          name: ${{inputs.REPOSITORY_NAME}}-test-results
          path: artifacts/test-results
          
      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.1.22
        with:
          reports: artifacts/test-results/**/TestResults/**/coverage.cobertura.xml
          targetdir: Coverage
          reporttypes: Html
          
      - name: Upload test results
        uses: actions/upload-artifact@v4
        with:
          name: ${{inputs.REPOSITORY_NAME}}-coverage-results
          path: Coverage/
          retention-days: 1
